<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Home</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>ADMIN HOME</h1>
  <button onclick="window.location.href='newSong'">Add a New Song</button>
  <br>
  <button onclick="window.location.href='viewSongs'">View All Songs</button>
  <br>
  <button onclick="window.location.href='createPlaylist'">Create Playlist</button>
  <br>
  <button onclick="window.location.href='viewPlaylists'">View all Playlists</button>
</body>
</html>